{% extends 'base.html' %}

{% block title %} get_form {% endblock %}

{% block content %}
<div class="main">
    <h3>заполните форму</h3>
    <form>
        <div class="form">
            <label for="f_name1">заполните</label>
            <input type="text" id="f_name1" name="f_name1">
        </div>
        <div class="form">
            <label for="f_name2">заполните</label>
            <input type="text" id="f_name2" name="f_name2">
        </div>

        <div class="form">
            <button type="submit">отправить</button>
        </div>
        <div class="form">
            <button type="reset">отменить изменения</button>
        </div>

    </form>

    <div class="get_form">
        <h3>данные с get запроса</h3>
        <ul>
            {% for key, value in request.items %}
            <li><h3>ключ: {{ key }}, значение: {{ value }}</h3></li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}