{% extends 'base.html' %}

{% block title %} get_form {% endblock %}

{% block content %}
<div class="main">
    <h3>заполните форму</h3>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}

        <div class="form">
            {{ field }}
        </div>
        {% endfor %}


        <div class="form">
            <button type="submit">отправить</button>
        </div>
        <div class="form">
            <button type="reset">отменить изменения</button>
        </div>
    </form>

    <div class="get_form">
        {% if method == 'GET' %}
        <h3>данные с get запроса</h3>
        <ul>
            {% for key, value in request.items %}
            <li><h3>ключ: {{ key }}, значение: {{ value }}</h3></li>
            {% endfor %}
        </ul>
        {% elif method == 'POST' %}
        <h3>данные с post запроса</h3>
        <ul>
            {% for key, value in request.items %}
            <li><h3>ключ: {{ key }}, значение: {{ value }}</h3></li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>
{% endblock %}